@import '../../../../styles/burst-theme';
@import './tc-agreement-prompt/tc-agreement-prompt.component.theme';
@mixin terms-conditions-component-themes($theme) {

  $backgroundPalette: burst-theme-palette($theme, bg);
  $backgroundText: burst-theme-palette-text($backgroundPalette, prim);  

  @include tc-agreement-prompt-theme($theme);
  .tc-agreement-text,
  .agreement-checkbox-container {
    color: $backgroundText;
  }
}