<div class="nav-buttons-container">
  <div class="primary-button">
    <label>
    <div class="primary-button-text">{{addMore}}</div>
    <input id="landingFileInput"
    type="file"
    name="files"
    (change)="fileSelected($event)"/>
  </label>
  </div>
  <div class="secondary-buttons-container">
    <div class="secondary-button finished" >
      <div class="secondary-button-text">{{finished}}</div>
    </div>
    <div class="secondary-button view">
      <div class="secondary-button-text" (click)="clickedviewMedia()">{{viewMedia}}</div>
    </div>
  </div>
</div>