$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-tertiary-text: rgba(black, 0.705);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-tertiary-text: rgba(white, 0.85);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);

