@import '../../../../../styles/burst-responsive';
@import '../../../../../styles/burst-text';
@mixin share-media-theme($theme) {
  $foregroundPalette: burst-theme-palette($theme, fg);
  $secondaryPalette: burst-theme-palette($theme, sec);
  $foregroundText: burst-theme-palette-text($foregroundPalette, ter);
  $secondaryColor: burst-theme-palette-color($secondaryPalette);
  .social-div {
    color: $foregroundText;
  }
}