@import '../../../../../styles/burst-theme';

@mixin add-media-prompt-theme($theme) {
  $backgroundPalette: burst-theme-palette($theme, bg);
  $backgroundText: burst-theme-palette-text($backgroundPalette, sec);

  .add-media-prompt {
    color: $backgroundText;
  }
}